[Unit]
Description=Jukebox
Requires=mopidy.service

[Service]
User=pi
Type=simple
WorkingDirectory=/usr/local/jukebox
ExecStart=/usr/bin/pipenv run python3 /usr/local/jukebox/jukebox.py
Restart=always

[Install]
WantedBy=multi-user.target
